.card {
    border-radius: 10px;
    box-shadow: #63636333 0px 2px 8px 0px;
    padding: 1rem;
    margin: 1rem;
}

.card:hover {
    box-shadow: #00000033 0px 2px 8px 0px;
}

.card__category {
    font-weight: bold;
}

.card__category-world {
    color: #005a9f
}

.card__category-design {
    color: #09804e
}

.card__title {
    margin: 0.8rem 0 0.2rem 0;
}

.card_time {
    color: #5a5a5a;
}

.card_desc {
    margin: 0.5rem 0 3rem 0;
}