.nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__listItem {
    padding: 0;
}

.nav__listItem + .nav__listItem {
    margin: 0.3rem 0;
}

.sidebar {
    margin: 0 0.5rem;
    padding: 0 0.7rem;
}

.sidebar__info {
    padding: 1.2rem;
    border-radius: 5px;
    background-color: #5a5a5a1f;
}

.sidebar__info-title {
    font-size: 1.5rem;
    margin: 0;
}

.nav__title {
    font-size: 1.5rem;
    margin: 4rem 0 0.5rem 0;
}